@model IEnumerable<Employer>

@{
    ViewData["Title"] = "Employers List";
}

@if (Model.Any())
{
    <div class="card-deck">
        @foreach (var emp in Model)
        {
            string photoPath = $"~/Images/Employers/{emp.CompanyPhotoPath ?? "NoImage.jpg"}";
            <div class="card m-3 index-img">
                <div class="card-header text-center">
                    <h3>@emp.CompanyName</h3>
                </div>
                <img class="card-img-top" id="index-img" src="@photoPath" asp-append-version="true" />
                <div class="card-footer text-center">
                    <a asp-action="Details" asp-controller="Employer" asp-route-id="@emp.Id" class="btn btn-primary">View</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                        <a asp-action="Edit" asp-controller="Employer" asp-route-id="@emp.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-controller="Employer" asp-route-id="@emp.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <h1 class="text-center">There are no results</h1>
}